    <h3>Please enter your billing details (all fields required)</h3>
    <form action="billing.php?{$smarty.server.QUERY_STRING}" method="POST">
        <table>
            <tr>
                <th colspan="2">Billing information</th></tr>
            <tr>
                <td>First name</td>
                <td><input type="text" name="fname" value="{$smarty.post.fname}"></td></tr>
            <tr>
                <td>Last name</td>
                <td><input type="text" name="lname" value="{$smarty.post.lname}"></td></tr>
            <tr>
                <td>Address</td>
                <td><input type="text" name="address" value="{$smarty.post.address}"></td></tr>
            <tr>
                <td>City</td>
                <td><input type="text" name="city" value="{$smarty.post.city}"></td></tr>
            <tr>
                <td>State</td>
                <td><input type="text" name="state" size="2" maxlength="2" value="{$smarty.post.state}"></td></tr>
            <tr>
                <td>Zip (nnnnn)</td>
                <td><input type="text" name="zip" size="5" maxlength="5" value="{$smarty.post.zip}"></td></tr>
            <tr>
                <td>Phone (nnn-nnn-nnnn)</td>
                <td><input type="text" name="phone" value="{$smarty.post.phone}"></td></tr>
            <tr>
                <th colspan="2">Credit Card information</th></tr>
            <tr>
                <td>Card type</td>
                <td>
                    <select name="cc_type">
                        <option value="">Select Card Type
                        <option value="Visa">Visa
                        <option value="Mastercard">Mastercard
                        <option value="Amex">Amex</select></td></tr>
            <tr>
                <td>Card number (16 digits)</td>
                <td><input type="text" name="cc_num" value="{$smarty.post.cc_num}"></td></tr>
            <tr>
                <td>Expiration date</td>
                <td>
                    <select name="cc_expmonth">
                        <OPTION VALUE="">Month
                        <OPTION VALUE="1">Jan<OPTION VALUE="2">Feb<OPTION VALUE="3">Mar<OPTION VALUE="4">Apr
                        <OPTION VALUE="5">May<OPTION VALUE="6">Jun<OPTION VALUE="7">Jul<OPTION VALUE="8">Aug
                        <OPTION VALUE="9">Sep<OPTION VALUE="10">Oct<OPTION VALUE="11">Nov<OPTION VALUE="12">Dec</select>
                    <select name="cc_expyear">
                        <option value="">Year
                        <option value="2004">2004<option value="2005">2005
                        <option value="2006">2006<option value="2007">2007
                        <option value="2008">2008<option value="2009">2009
                        <option value="2010">2010</select></td></tr>
            <tr>
                <td align="center" colspan="2">
                    <input type="submit" name="bill_submit" value="Continue"></td></tr>
        </table>
    </form>
    
    <p>Back to: 
        <a href="index.php?c={$smarty.get.c}">Home page</a>
        <a href="browse.php?c={$smarty.get.c}&s={$smarty.get.s}">{$cust_type}</a></p>
