    {foreach item=id from=$products}
    <div class="miniProduct">
        {section name=param loop=$id}
            {if $smarty.section.param.first}
                {assign var="i" value=$id[param]}
            <h3>{$id[param]}</h3>
            <ul>
            {elseif $smarty.section.param.last}
                <li>{$id[param]}</li>
            </ul>
            <a href="productdetail.php?c={$smarty.get.c}&s={$smarty.get.s}&i={$i|escape}">More Details</a>
            {else}
                <li>{$id[param]}</li>
            {/if}
        {sectionelse}
            <ul>
                <li>No Products Found.</li>
            <ul>
        {/section}
    </div>
    {/foreach}
    
    <p>Back to: 
        <a href="index.php?c={$smarty.get.c}">Home page</a>
        <a href="browse.php?c={$smarty.get.c}&s={$smarty.get.s}">{$cust_type}</a></p>