    <h3>Please enter your shipping details (all fields required)</h3>
    <form action="shipping.php?{$smarty.server.QUERY_STRING}" method="POST">
        <table>
            <tr>
                <td>First name</td>
                <td><input type="text" name="fname" value="{$smarty.post.fname}"></td></tr>
            <tr>
                <td>Last name</td>
                <td><input type="text" name="lname" value="{$smarty.post.lname}"></td></tr>
            <tr>
                <td>Address</td>
                <td><input type="text" name="address" value="{$smarty.post.address}"></td></tr>
            <tr>
                <td>City</td>
                <td><input type="text" name="city" value="{$smarty.post.city}"></td></tr>
            <tr>
                <td>State</td>
                <td><input type="text" name="state" size="2" maxlength="2" value="{$smarty.post.state}"></td></tr>
            <tr>
                <td>Zip (nnnnn)</td>
                <td><input type="text" name="zip" size="5" maxlength="5" value="{$smarty.post.zip}"></td></tr>
            <tr>
                <td>Phone (nnn-nnn-nnnn)</td>
                <td><input type="text" name="phone" value="{$smarty.post.phone}"></td></tr>
            <tr>
                <td colspan="2">Shipping method</td></tr>
            <tr>
                <td colspan="2"><input type="radio" name="shipping" value="Next_Day"{if $smarty.post.shipping eq 'Next_Day'} checked{/if}>Next Day</td></tr>
            <tr>
                <td colspan="2"><input type="radio" name="shipping" value="Two_Day"{if $smarty.post.shipping eq 'Two_Day'} checked{/if}>2nd Business Day</td></tr>
            <tr>
                <td colspan="2"><input type="radio" name="shipping" value="Five_Day"{if $smarty.post.shipping eq 'Five_Day'} checked{/if}>3-5 day Ground</td></tr>
            <tr>
                <td align="center" colspan="2"><input type="submit" name="ship_submit" value="Continue"></td></tr>
        </table>
    </form>
    
    <p>Back to: 
        <a href="index.php?c={$smarty.get.c}">Home page</a>
        <a href="browse.php?c={$smarty.get.c}&s={$smarty.get.s}">{$cust_type}</a></p>
