    <h3>Cart</h3>
    <table id="cart">
        <tr>
            <th>Item</th>
            <th>Customizations</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Total</th></tr>
        {foreach from=$smarty.session.cart item=item key=id}
            <td>{$id}</td>
            <td>{foreach from=$smarty.session.$id item=selection key=type}{$type}: {$selection}<br />{/foreach}</td>
            <td>{$item}</td>
            <td>${$smarty.session.price.$id}</td>
            <td>${$smarty.session.total_price.$id}</td></tr>
        {/foreach}
        <tr>
            <td id="totalLabel" colspan=4>Total:</td>
            <td>${$total}</td></tr>
    </table>
    <h3>Shipping Information</h3>
    <table>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Phone</th>
            <th>Shipping</th>
        </tr>
        <tr>
            <td>{$smarty.session.ship.fname} {$smarty.session.ship.lname}</td>
            <td>{$smarty.session.ship.address}</td>
            <td>{$smarty.session.ship.city}</td>
            <td>{$smarty.session.ship.state}</td>
            <td>{$smarty.session.ship.zip}</td>
            <td>{$smarty.session.ship.phone}</td>
            <td>{$smarty.session.ship.shipping}</td>
        </tr></table>
    <h3>Billing Information</h3>
    <table>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Phone</th>
            <th>Credit Card</th>
        </tr>
        <tr>
            <td>{$smarty.session.bill.fname} {$smarty.session.bill.lname}</td>
            <td>{$smarty.session.bill.address}</td>
            <td>{$smarty.session.bill.city}</td>
            <td>{$smarty.session.bill.state}</td>
            <td>{$smarty.session.bill.zip}</td>
            <td>{$smarty.session.bill.phone}</td>
            <td>{$smarty.session.bill.cc_type} <br /> Expires: {$smarty.session.bill.cc_expmonth}/{$smarty.session.bill.cc_expyear}</td>
        </tr></table>
    {if $smarty.post.confirm_submit}
    <h3>Order Confirmed</h3>
    <table>
        <tr>
            <td>Ship Date</td>
            <td>{$ship_date}</td></tr>
        <tr>
            <td>Confirmation Num</td>
            <td>{$conf_num}</td></tr>       
    </table>
    {else}
        Please review your order above then click Confirm.
        <form action="confirm.php?{$smarty.server.QUERY_STRING}" method="POST">
            <input type="submit" name="confirm_submit" value="Confirm"></form>
    {/if}
    
    <p>Back to: 
        <a href="index.php?c={$smarty.get.c}">Home page</a>
        <a href="browse.php?c={$smarty.get.c}&s={$smarty.get.s}">{$cust_type}</a></p>
