	{section name=file loop=$files}
		<div class="file">
			<span class="name">{$files[file][1]}</span>
			<span class="details">{$files[file][2]} - {$files[file][3]}</span>
			<p>{$files[file][4]}</p>
			<div class="links"><a href="file.php?id={$files[file][0]}">Download</a></div>
		</div>
	{/section}
